@inherits LayoutComponentBase

<div class="page">

    <div class="topnav">
        <span class="brand">BlazingPizza</span>

        <NavMenu />
    </div>

    <main class="content">
        @Body
    </main>

</div>
