<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" 
                   DefaultLayout="@typeof(BlazingPizza.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BlazingPizza.Components.Layout.MainLayout)">
            <p>Sorry, there's nothing here.</p>
        </LayoutView>
    </NotFound>
</Router>
 

